In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC, SVR
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('second_hand_car_price.csv')
data

,id,brand,model,title,price,discount,odometres,body,transmission,engine,state,seller,year
0,1,honda,accord,2010 Honda Accord VTi Auto,13990.0,Excl. Govt. Charges,54830,Sedan,Automatic,4cyl 2.4L Petrol,SA,Used Car,2010
1,2,honda,accord,2007 Honda Accord VTi-L Auto,5900.0,None,180000,Sedan,Automatic,4cyl 2.4L Petrol,VIC,Private Seller Car,2007
2,3,honda,accord,2008 Honda Accord VTi-L Auto,8750.0,None,112918,Sedan,Automatic,4cyl 2.4L Petrol,NSW,Private Seller Car,2008
3,4,honda,accord,2013 Honda Accord V6L Auto,22900.0,None,85413,Sedan,Automatic,6cyl 3.5L Petrol,QLD,Private Seller Car,2013
4,5,honda,accord,2013 Honda Accord VTi-L Auto,18888.0,Excl. Govt. Charges,76767,Sedan,Automatic,4cyl 2.4L Petrol,WA,Used Car,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,honda,city,2012 Honda City VTi Auto,13888.0,Excl. Govt. Charges,53028,Sedan,Automatic,4cyl 1.5L Petrol,NSW,Used Car,2012
996,997,honda,city,2013 Honda City VTi Manual,8999.0,Excl. Govt. Charges,72621,Sedan,Manual,4cyl 1.5L Petrol,WA,Used Car,2013
997,998,honda,city,2009 Honda City VTi Manual,7990.0,Excl. Govt. Charges,98856,Sedan,Manual,4cyl 1.5L Petrol,SA,Used Car,2009
998,999,honda,city,2018 Honda City VTi Auto,18888.0,Drive Away,2072,Sedan,Automatic,4cyl 1.5L Petrol,VIC,Demo,2018
999,1000,honda,city,2018 Honda City VTi Manual,15962.0,Drive Away,2116,Sedan,Manual,4cyl 1.5L Petrol,QLD,Demo,2018

In [3]:
data.isna().sum()

id              0
brand           0
model           0
title           0
price           0
discount        0
odometres       0
body            0
transmission    0
engine          0
state           0
seller          0
year            0
dtype: int64

In [4]:
data.dtypes

id                int64
brand            object
model            object
title            object
price           float64
discount         object
odometres         int64
body             object
transmission     object
engine           object
state            object
seller           object
year              int64
dtype: object

In [5]:
data=data.drop(['id'],axis=1)
data

,brand,model,title,price,discount,odometres,body,transmission,engine,state,seller,year
0,honda,accord,2010 Honda Accord VTi Auto,13990.0,Excl. Govt. Charges,54830,Sedan,Automatic,4cyl 2.4L Petrol,SA,Used Car,2010
1,honda,accord,2007 Honda Accord VTi-L Auto,5900.0,None,180000,Sedan,Automatic,4cyl 2.4L Petrol,VIC,Private Seller Car,2007
2,honda,accord,2008 Honda Accord VTi-L Auto,8750.0,None,112918,Sedan,Automatic,4cyl 2.4L Petrol,NSW,Private Seller Car,2008
3,honda,accord,2013 Honda Accord V6L Auto,22900.0,None,85413,Sedan,Automatic,6cyl 3.5L Petrol,QLD,Private Seller Car,2013
4,honda,accord,2013 Honda Accord VTi-L Auto,18888.0,Excl. Govt. Charges,76767,Sedan,Automatic,4cyl 2.4L Petrol,WA,Used Car,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
995,honda,city,2012 Honda City VTi Auto,13888.0,Excl. Govt. Charges,53028,Sedan,Automatic,4cyl 1.5L Petrol,NSW,Used Car,2012
996,honda,city,2013 Honda City VTi Manual,8999.0,Excl. Govt. Charges,72621,Sedan,Manual,4cyl 1.5L Petrol,WA,Used Car,2013
997,honda,city,2009 Honda City VTi Manual,7990.0,Excl. Govt. Charges,98856,Sedan,Manual,4cyl 1.5L Petrol,SA,Used Car,2009
998,honda,city,2018 Honda City VTi Auto,18888.0,Drive Away,2072,Sedan,Automatic,4cyl 1.5L Petrol,VIC,Demo,2018
999,honda,city,2018 Honda City VTi Manual,15962.0,Drive Away,2116,Sedan,Manual,4cyl 1.5L Petrol,QLD,Demo,2018

In [6]:
data=data.head(800)
data

,brand,model,title,price,discount,odometres,body,transmission,engine,state,seller,year
0,honda,accord,2010 Honda Accord VTi Auto,13990.0,Excl. Govt. Charges,54830,Sedan,Automatic,4cyl 2.4L Petrol,SA,Used Car,2010
1,honda,accord,2007 Honda Accord VTi-L Auto,5900.0,None,180000,Sedan,Automatic,4cyl 2.4L Petrol,VIC,Private Seller Car,2007
2,honda,accord,2008 Honda Accord VTi-L Auto,8750.0,None,112918,Sedan,Automatic,4cyl 2.4L Petrol,NSW,Private Seller Car,2008
3,honda,accord,2013 Honda Accord V6L Auto,22900.0,None,85413,Sedan,Automatic,6cyl 3.5L Petrol,QLD,Private Seller Car,2013
4,honda,accord,2013 Honda Accord VTi-L Auto,18888.0,Excl. Govt. Charges,76767,Sedan,Automatic,4cyl 2.4L Petrol,WA,Used Car,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
795,honda,accordeuro,2012 Honda Accord Euro Manual,13000.0,None,96500,Sedan,Manual,4cyl 2.4L Petrol,NSW,Private Seller Car,2012
796,honda,accordeuro,2007 Honda Accord Euro Luxury Auto,20000.0,None,43481,Sedan,Automatic,4cyl 2.4L Petrol,NSW,Private Seller Car,2007
797,honda,accordeuro,2008 Honda Accord Euro Auto,7999.0,None,179597,Sedan,Automatic,4cyl 2.4L Petrol,VIC,Private Seller Car,2008
798,honda,accordeuro,2004 Honda Accord Euro Auto,7550.0,None,90000,Sedan,Automatic,4cyl 2.4L Petrol,QLD,Private Seller Car,2004
799,honda,accordeuro,2007 Honda Accord Euro Luxury Auto,6500.0,None,210148,Sedan,Automatic,4cyl 2.4L Petrol,VIC,Private Seller Car,2007

In [7]:
brand=LabelEncoder()
model=LabelEncoder()
title=LabelEncoder()
discount=LabelEncoder()
body=LabelEncoder()
transmission=LabelEncoder()
engine=LabelEncoder()
state=LabelEncoder()
seller=LabelEncoder()

In [8]:


data['brand']=brand.fit_transform(data['brand'])
data['model']=model.fit_transform(data['model'])
data['title']=title.fit_transform(data['title'])
data['discount']=discount.fit_transform(data['discount'])
data['body']=body.fit_transform(data['body'])
data['transmission']=transmission.fit_transform(data['transmission'])
data['engine']=engine.fit_transform(data['engine'])
data['state']=state.fit_transform(data['state'])
data['seller']=seller.fit_transform(data['seller'])
data

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['brand']=brand.fit_transform(data['brand'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['model']=model.fit_transform(data['model'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['title']=title.fit_transform(data['title'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['discount']=discount.fit_transform(data['discount'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['body']=body.fit_transform(data['body'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['transmission']=transmission.fit_transform(data['transmission'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['engine']=engine.fit_transform(data['engine'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['state']=state.fit_transform(data['state'])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8188\3858956460.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['seller']=seller.fit_transform(data['seller'])

,brand,model,title,price,discount,odometres,body,transmission,engine,state,seller,year
0,0,0,101,13990.0,1,54830,1,0,4,3,2,2010
1,0,0,73,5900.0,2,180000,1,0,4,5,1,2007
2,0,0,83,8750.0,2,112918,1,0,4,1,1,2008
3,0,0,126,22900.0,2,85413,1,0,6,2,1,2013
4,0,0,128,18888.0,1,76767,1,0,4,6,2,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,1,115,13000.0,2,96500,1,1,4,1,1,2012
796,0,1,66,20000.0,2,43481,1,0,4,1,1,2007
797,0,1,74,7999.0,2,179597,1,0,4,5,1,2008
798,0,1,39,7550.0,2,90000,1,0,4,2,1,2004
799,0,1,66,6500.0,2,210148,1,0,4,5,1,2007

In [10]:
scaler = MinMaxScaler()

In [11]:
x_scaled = scaler.fit_transform(x)

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=25)

In [13]:
x_train.shape,y_train.shape

((640, 11), (640,))

In [14]:
x_test.shape,y_test.shape

((160, 11), (160,))

In [15]:
model=RandomForestRegressor(n_estimators=500,random_state=25)
model.fit(x_train,y_train) 
model.score(x_train,y_train)

0.9883827366644926

In [16]:
y_pred=model.predict(x_test)
y_pred

array([10064.368, 10659.3  ,  6045.55 , 12422.322,  8759.48 ,  8111.62 ,
        5194.228,  3544.594,  7237.06 , 10731.31 ,  8335.57 , 10156.748,
        7067.052, 10914.38 , 26409.454, 18118.964,  3807.876, 11238.212,
        6612.8  , 13502.206, 15692.8  , 52252.304, 11636.75 ,  8278.264,
       14796.126, 10065.96 , 10915.166,  4947.178, 16263.318, 16865.454,
       10456.504,  4428.118, 13141.764,  8817.452, 21980.828,  7839.798,
        4901.564, 13487.578,  6113.22 ,  2313.194,  8182.528, 10542.01 ,
        5362.584,  1350.686, 13864.546,  5526.302, 11366.186, 15720.776,
        7593.256,  8722.286,  6477.354, 10825.356,  7327.706, 11620.126,
       10524.388,  6019.592,  9436.252,  6872.204, 14881.708,  5954.068,
        7771.132, 44440.062,  4317.728,  4964.96 , 12907.09 , 21411.698,
       12191.57 , 15981.17 ,  6765.524,  6269.344,  8857.766, 10906.994,
       10680.37 , 12690.092,  7735.42 ,  7311.756,  9203.824,  7546.812,
       14989.95 ,  2035.54 , 11311.942, 18761.596, 22360.632, 12511.178,
        9112.124, 14625.846,  7566.468,  1954.776,  4084.432,  9485.872,
        8909.02 ,  5076.578, 11826.678,  5746.612,  9073.812, 19330.296,
       13835.836, 12388.282, 11429.744, 11825.06 , 15313.75 , 12677.862,
        8594.18 ,  9181.296,  9295.996, 11262.42 , 45296.758, 14241.226,
        9257.09 ,  6311.058,  9998.516,  6703.23 ,  8593.77 , 10527.268,
       10160.022, 13531.052, 33273.848,  2037.618,  8606.57 ,  4430.398,
        9838.758,  7467.762, 10309.748,  3677.02 ,  5001.238,  7303.098,
        6973.68 , 13698.576, 10487.178,  5592.224, 16436.588,  9041.6  ,
        1749.548, 22235.656, 10772.538, 10440.194, 11625.212, 24667.27 ,
       13354.508, 45015.376, 12074.888,  9813.102,  3512.67 , 14106.49 ,
        8526.414,  8912.798,  6840.982, 14247.634,  6683.544, 13290.63 ,
       11431.236,  5563.984, 21656.626,  4599.224, 12596.454,  1527.716,
       13703.392,  7970.858, 14952.284,  9802.026])

In [17]:
model.score(x_test,y_test)

0.8958072970207354

In [18]:
model.score(x_test,y_test)

In [19]:
scores=[]
models=['svr','random_forest', 'decision_tree']
for model_name in models:  
    mp=model_params[model_name] 
    gds=GridSearchCV(mp['model'],mp['params'],cv=4,return_train_score=True)
    gds.fit(x_scaled,y)
    scores.append({'model':model_name,'best_score':gds.best_score_,'best_params':gds.best_params_})

In [20]:
scores

[{'model': 'svr',
  'best_score': 0.0678298394806989,
  'best_params': {'C': 20, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.8170776677731706,
  'best_params': {'n_estimators': 15}},
 {'model': 'decision_tree',
  'best_score': 0.7730130940640629,
  'best_params': {'max_depth': 6}}]

In [21]:
df=pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

           model  best_score                    best_params
0            svr    0.067830  {'C': 20, 'kernel': 'linear'}
1  random_forest    0.817078           {'n_estimators': 15}
2  decision_tree    0.773013               {'max_depth': 6}

In [ ]:
model.predict([[]])